go 1.18

use (
    ./algox
    ./algox/searchx
    ./algox/sortx
    ./cryptox
    ./cryptox/aesx
    ./cryptox/bcryptx
    ./cryptox/hmacx
    ./cryptox/shax
    ./dsx
    ./dsx/dequex
    ./dsx/listx
    ./dsx/mapx
    ./dsx/mapx/ordmapx
    ./dsx/mapx/syncmapx
    ./dsx/mapx/treemapx
    ./dsx/queuex
    ./dsx/ringx
    ./dsx/stackx
    ./dsx/treex
    ./dsx/treex/btreex
    ./dsx/treex/rbtreex
    ./encodex
    ./encodex/gobx
    ./encodex/jsonx
    ./iox
    ./iox/usingx
    ./logx
    ./nilx
    ./nilx/optionx
    ./nilx/resultx
    ./osx
    ./timex
    ./timex/intersectionx
    ./timex/sleepx
    ./timex/truncatex
)
