go 1.18

use (
    ./algox
    ./algox/searchx
    ./algox/sortx
    ./cryptox
    ./cryptox/aesx
    ./cryptox/bcryptx
    ./cryptox/hmacx
    ./cryptox/passhashx
    ./cryptox/shax
    ./debugx
    ./debugx/errorx
    ./debugx/safex
    ./dsx
    ./dsx/arrayx
    ./dsx/arrayx/listx
    ./dsx/arrayx/queuex
    ./dsx/arrayx/stackx
    ./dsx/arrayx/treex
    ./dsx/arrayx/treex/btreex
    ./dsx/arrayx/treex/rbtreex
    ./dsx/linkedx
    ./dsx/linkedx/dequex    
    ./dsx/linkedx/listx
    ./dsx/linkedx/queuex
    ./dsx/linkedx/stackx
    ./dsx/linkedx/treex
    ./dsx/linkedx/treex/btreex
    ./dsx/linkedx/treex/rbtreex
    ./dsx/mapx
    ./dsx/mapx/ordmapx
    ./dsx/mapx/syncmapx
    ./dsx/mapx/treemapx
    ./encodex
    ./encodex/gobx
    ./encodex/jsonx
    ./iox
	./iox/managerx/closex
    ./iox/usingx
    ./logx
    ./nilx
    ./nilx/optionx
    ./nilx/resultx
    ./osx
    ./timex
    ./timex/intersectionx
    ./timex/sleepx
    ./timex/truncatex
    .
)
